[package]
name = "network-algorithms"
version = "0.1.0"
edition = "2024"
repository = "https://github.com/MitI-7/network-algorithms"


[dependencies]
num-traits = "0.2"
rstest = "0.26"
rstest_reuse = "0.7"